html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #254259;
    font-family: 'Open Sans', sans-serif;
}


container {
    display: block;
    float: left;
    padding: 20px;
    max-width: 100%;
    margin: o auto;
    max-width: 1190px;
}

header {
    background: #ffff;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #254259;
}

form {
    background: #ddd;
    border: #2121be;
    padding: 20px;
    display: block;
    margin: 20px auto;
    width: 50%;
}


h2 {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

input, button {
    display: block;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

input {
    width: 80%;
    padding: 1rem 2rem;
}
button {
    border: 0 none;
    border-radius: 2rem;
    color: #fff;
    background-color: #2121be;
    width: 10rem;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-bottom: 0;
}
button:hover {
    background-color: #4545c2;
}

.mensagem,
#resultado {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.erro {
    border-color: #f00;
}